*.o
*.moc.cpp
*_moc.cpp
*.qm
*.gz
*.bz2
*.html
Makefile
Makefile.in
configure
config.h
config.h.in
aclocal.m4
config.guess
config.sub
config.log
config.status
depcomp
install-sh
missing
mkinstalldirs
stamp-h1
INSTALL
autom4te.cache/
clock/.deps/
spdrs60/.deps/
clock/centralclock
spdrs60/spdrs60
spdrs60/srcp_test
spdrs60/config.h.in~
