/*stylesheet for spdrs60 HTML handbook*/

html, body {
    background-color: white;
    color: black;
    font-family: 'bitstream vera sans', Verdana, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
}

h2, h3, h4 {
    margin-top: 2em;
}

a:link {
  color: #0000ee;
  background-color: transparent;
}

a:hover {
  color: #000088;
  background-color: transparent;
}

a:visited {
  color: #551a8b;
  background-color: transparent;
}

a:active {
  color: #ff0000;
  background-color: transparent;
}

p {
    line-height: 1.7em;
    margin: 0 0 0.7em 0;
}

.table {
    margin-top: 2em;
    margin-bottom: 2em;
}

.figure {
    margin-top: 2em;
    margin-bottom: 2em;
}
