Source: spdrs60
Section: x11
Priority: optional
Maintainer: Guido Scholz <guido.scholz@bayernline.de>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.0

Package: spdrs60
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SpDrS60, Controlcenter for digital model railroads
 Graphical program to comfortably control a digital model railroad.
 Visual appearance and usage comply to the SpDr of the german national
 railroad company. SpDrS60 needs a SRCP server (e.g. erddcd) as a link
 to the physical layout of the model. 
